{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <link type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'img/favicon/favicon.ico' %}" rel="icon">

    <title>{% block title %}Aya{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>