{% extends 'base.html' %}

{% load static %}

{% block title %}SMM COMMUNITY{% endblock %}

{% block content %}
    <div class="header">
        <div class="headerText">SMM COMMUNITY
          <div class="registration_btn">
            <a href="https://t.me/Aya_cyberbot" target="_blank">РЕГИСТРАЦИЯ</a>
          </div>
        </div>
    </div>
    <div class="main">
        <h1 class="filters_header">ФИЛЬТРЫ</h1>
        <div class="filters">
            <select name="filter" id="city">
                <option value="" style="display:none">Выберите город</option>
                <option value="">Неважно</option>
                {% if cities %}
                  {% for city in cities %}
                    <option value="{{city}}">{{city}}</option>
                  {% endfor %}
                {% endif %}
            </select>
            <select name="filter" id="speciality">
                <option value="" style="display:none">Выберите специализацию</option>
                <option value="">Неважно</option>
                {% if specialities %}
                  {% for spec in specialities %}
                    <option value="{{spec.clue}}">{{spec.name}}</option>
                  {% endfor %}
                {% endif %}
            </select>
            <select name="filter" id="experience">
                <option value="" style="display:none">Выберите опыт работы</option>
                <option value="">Неважно</option>
                <option value="less-one">Менее года</option>
                <option value="one-three">1-3 года</option>
                <option value="more-three">Более 3 лет</option>
            </select>
        </div>
        <div class="users-list" id="users-list" >
            {% include "main/user_list.html" %}
        </div>
    </div>
{% endblock %}
