@media screen and (max-device-width: 768px) {
  .header {
    padding: 0 50px;
    height: 135px;
    line-height: 145px;
  }
  .headerText {
    width: 100%;
    font-size: 52px;
    background-position-y: 40%;
  }
  .main {
    width: 100%
  }
  .user-card {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
  }
  .users-list {
    margin: 20px 20px 0 20px;
  }
  .user-name {
    font-size: 48px;
    max-height: 25%;
    margin-bottom: 30px;
  }
  .user-dop {
    font-size: 36px;
  }
  .user-desc {
    /*font-size: 20pt;*/
    margin: 15px 15px 5px 15px;
  }
  .no-user-img, .has-user-img {
    min-width: 300px;
    min-height: 300px;
  }
  .user-tg, .user-portfolio {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main_info {
    margin-left: 15px;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }
  .filters_header {
    font-size: 64px;
  }
  select[name=filter] {
    font-size: 44px;
    width: 80%;
    margin: 5px;
  }

  .header .registration_btn a {
    font-size: 30px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .headerText {
    width: 984px;
  }
  .main {
    width: 100%
  }
  .user-card {
    width: 475px;
  }
  .users-list {
    margin: 20px 10px 0 10px;
  }
}
