* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/oriental.png');;
}

select {
    height: 30px;
    background-color: #88888888;
    border: none;
    border-radius: 5px;
}

.header {
    color: #fff;
    background-color: #2a4759;
    border-bottom: 5px solid rgba(0,0,0,.2);
    height: 90px;
    line-height: 90px;
    font-size: 36pt;
    text-align: center;
}
.headerText {
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/logo.png');
    background-size: 60px;
    background-repeat: no-repeat;
    width: 47%;
    margin: auto;
}

.users-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: calc(1vh + 5%);
    padding: 20px 10px;
}
.user-card {
    background: #fff;
    min-width: 15vw;
    max-height: 60vh;
    margin-right: 15px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.user-img {
    text-align: center;
    background-color: #a8e1bc;
    color: #2F4F4F;
    background-image: url('../img/default-user.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    min-height: 55%;
}
.user-role {
    font-size: 10pt;
    background-color: #dddddd;
    color: #888888;
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
    border-radius: 10px;
}
.user-name {
    font-weight: bold;
    font-size: 18pt;
    margin: 15px 0 0 5px;
    max-height: 5%;
    overflow: hidden;
}
.user-desc {
    color: #888888;
    margin: 10px 0 0 5px;
    min-height: 15%;
    max-height: 15%;
    overflow: hidden;
}
.user-phone {
    font-style: italic;
    margin: 10px 0 0 5px;
}
.user-tg {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: -webkit-linear-gradient(90deg, #2a4759, #2a4759);
    background: -moz-linear-gradient(90deg, #2a4759, #2a4759);
    background: linear-gradient(90deg, #2a4759, #2a4759);
}
.user-tg a {
    display: none;
}
.rightBlock {
  width: 80px;
  height: 60%;
  position: fixed;
  right: 0px;
  background: -moz-linear-gradient(to left, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(to left, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to left, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0) 100%);
}
.leftBlock {
  width: 80px;
  height: 60%;
  position: fixed;
  left: 0px;
  background: -moz-linear-gradient(to right, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0) 100%);
}
.show {
  opacity: 1;
  transition: 0.5s;
}
.hide {
  opacity: 0;
  transition: 0.5s;
}
