* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/oriental.png');
  background-color: #f4f1e5;
}

.main {
width: 1024px;
margin: 0 auto;
}

.header {
  color: #fff;
  background-color: #2a4759;
  border-bottom: 5px solid rgba(0,0,0,.2);
  height: 90px;
  line-height: 90px;
  font-size: 36pt;
}
.headerText {
  background-image: url('../img/logo.png');
  background-size: 60px;
  background-repeat: no-repeat;
  width: 1024px;
  color: #d7ebf7;
  background-position-y: center;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header .registration_btn {
  display: flex;
}
.header .registration_btn a {
  color: #d7ebf7;
  font-size: 14pt
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 503px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255);
  transition: 0.5s;
}
.no-user-img {
  text-align: center;
  background-color: #a8e1bc;
  color: #2F4F4F;
  background-image: url('../img/default-user.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  min-height: 150px;
  min-width: 150px;
}
.has-user-img {
  text-align: center;
  background-color: #a8e1bc;
  color: #2F4F4F;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  min-height: 150px;
  min-width: 150px;
}
.user-role {
  font-size: 10pt;
  background-color: #dddddd;
  color: #888888;
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  border-radius: 10px;
}
.user-name {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 15px 5px;
  max-height: 20%;
  overflow: hidden;
}
.user-dop, .user-phone {
  font-size: 18px;
  color: #656f75;
  margin: 5px 0 0 5px;
  overflow: hidden;
}
.user-desc {
  font-style: italic;
  margin-top: 10px;
  color: #656f75;
  word-wrap: break-word;
}
.user-tg {
  width: 49%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #d7ebf7;
  background-color: #2a4759;
}
.user-portfolio {
  width: 49%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #2a4759;
  background-color: #bfbfbf;
}
.user-tg a, .user-portfolio a {
  display: none;
}
.no-url {
  pointer-events: none;
  color: #2a475955;
  background-color: #bfbfbf55;
}
.top-line {
  display: flex;
}
.main_info {
  margin-left: 5px;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: center;
}
.filters_header {
  margin-top: 20px;
  text-align: center;
  color: #2a4759;
}
select[name=filter] {
  background-color: #96a1a688;
  border: none;
  border-radius: 10px;
  font-size: 14pt;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 5px;
}
.fa-solid {
  margin-right: 10px;
}
